
.heading {
color: blue;
text-align: center;
text-shadow: 2px 2px 2px gray ;
background-color: honeydew;
height: 60px;


}

body{
  text-align: center;
  background-color: cadetblue;
}

ul {
  list-style: inside;
  padding: 10px;
  background-color: cornsilk;
  margin: 20px auto;
  width: 325px;
  position: relative;
}
ul span {
  position: relative;
}

.app {
  background-color: chocolate;
  min-height: 500px;
  width: 400px;
  margin: 40px auto; 

}
input{
  border-radius: 20px;
  height: 20px;
  outline: none;
  padding: 10px;
}

button{
  height: 30px;
  width: 90px;
  cursor: pointer;
  
}

.addtodo {
  height: 20px;
  width: 90px;
  cursor: pointer;
  margin: 20px auto;
  right: 30px;
}